POSTGRES_USER=projectly
POSTGRES_PASSWORD=projectly
POSTGRES_DB=projectly

#BACKEND

#db.config
MIKRO_ORM_USER=projectly
MIKRO_ORM_PASSWORD=projectly
MIKRO_ORM_DB_NAME=projectly
MIKRO_ORM_HOST=database
MIKRO_ORM_PORT=5432

#env.config
PORT=8080

#jwt.config
JWT_AT_SECRET=superSecureSecretAtLeast24Chars
JWT_AT_EXPIRATION=5m
JWT_RT_SECRET=superSecureSecretAtLeast24Chars
JWT_RT_EXPIRATION=1d